[Unit]
Description=Keycloak
After=network.target

[Service]
Type=idle
Environment=JBOSS_LOG_DIR={{ keycloak_log_dir }}
User=keycloak
Group=keycloak
ExecStart={{ keycloak_install_dir }}/keycloak-{{ keycloak_version }}/bin/standalone.sh --server-config=standalone-ha.xml
TimeoutStartSec=600
TimeoutStopSec=600

[Install]
WantedBy=multi-user.target