<VirtualHost *:443>
    ServerName sso.massopen.cloud

    ProxyPreserveHost On

    RedirectMatch ^/$ https://sso.massopen.cloud/auth
    ProxyPass /auth http://localhost:8080/auth
    ProxyPassReverse /auth http://localhost:8080/auth

    ProxyRequests Off
    RemoteIPHeader X-Forwarded-For
    <Proxy *>
        RequestHeader set X-Forwarded-Proto "https"
        Require all granted
    </Proxy>

    # The location of the HTML files, and access control information
    DocumentRoot /var/www/sso
    <Directory /var/www/sso>
        Options -Indexes
        Order allow,deny
        Allow from all
    </Directory>

    ErrorLog logs/ssl_error_log
    TransferLog logs/ssl_access_log
    LogLevel warn
    SSLEngine on
    SSLProtocol all -SSLv2 -SSLv3 -TLSv1
    SSLCipherSuite "EECDH+ECDSA+AESGCM EECDH+aRSA+AESGCM EECDH+ECDSA+SHA384 EECDH+ECDSA+SHA256 EECDH+aRSA+SHA384 EECDH+aRSA+SHA256 EECDH+aRSA+RC4 EECDH EDH+aRSA RC4 !aNULL !eNULL !LOW !3DES !MD  !EXP !PSK !SRP !DSS !RC4"
    SSLCertificateFile /root/ssl/server.crt
    SSLCertificateKeyFile /root/ssl/server.key
    SSLCertificateChainFile /root/ssl/gd_bundle-g2-g1.crt
    BrowserMatch "MSIE [2-5]" \
            nokeepalive ssl-unclean-shutdown \
            downgrade-1.0 force-response-1.0
    CustomLog logs/ssl_request_log \
            "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"
    Header always set Strict-Transport-Security "max-age=63072000; includeSubdomains;"
</VirtualHost>
