ServerName sso.nikolla.me

ProxyPreserveHost On

RedirectMatch ^/$ https://sso.massopen.cloud/auth
ProxyPass /auth http://localhost:8080/auth
ProxyPassReverse /auth http://localhost:8080/auth

ProxyRequests Off
RemoteIPHeader X-Forwarded-For
<Proxy *>
    RequestHeader set X-Forwarded-Proto "https"
    Require all granted
</Proxy>

# The location of the HTML files, and access control information
DocumentRoot /var/www
<Directory /var/www>
Options -Indexes
Order allow,deny
Allow from all
</Directory>